<div class="close background-pop"></div>

<div class="pop-up delete-pop">
  <div class="container-pop">
    <h4>Внимание, событие будет немедленно удалено с портала. 
      По умолчанию события автоматически удаляются 
      через 30 дней после начала события!</h4>
    <form action=''>
      <button class="delete-this-serv close">Удалить</button>      
      <button class="gray close">Отмена</button>
    </form>
  </div>
</div>

<div class="pop-up thank-pop">
  <div class="container-pop">
    <h4>Спасибо! Оплата произойдет в течении пары минут.</h4>
    <form action=''>
      <button class="close">Закрыть</button>      
    </form>
  </div>
</div>